<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ErasmusTalk{% endblock %}</title>
    {% include 'bootstrap.html' %}
    {% block styles %}{% endblock %}
</head>
<body>
    {% include "header.html" %}
    
    {% block content %}{% endblock %}
    
    {% if not request.path.startswith('/login') and not request.path.startswith('/signup') and not request.path.startswith('/forgot-password') %}
        {% include "footer.html" %}
    {% endif %}
    
    {% block scripts %}{% endblock %}
</body>
</html> 