<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ErasmusTalk-Login</title>
    {%include "bootstrap.html"%}
</head>

<body class="bg-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <h1 class="text-center mt-2 mb-4">Welcome Back!</h1>
                        <a href="/loginvialinkedin" type="button" class="btn btn-light btn-lg container">
        <img src="/static/linkedin.png" alt="Sign Up via LinkedIn" style="height:32px;">
      </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>