<!DOCTYPE html>
<html>

<head>
    <title>Sign Up - Erasmus Talk</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {%include "nav.html" %}
    {%include "banner.html" %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Get Ready to Meet</h1>
        <h4>Sign Up Here</h4>
        <form action="/signup" method="POST">
            <div class="mb-2">
                <label>Name</label><br>
                <input type="text" name="name" placeholder="Tom">
            </div>

            <div class="mb-2">
                <label>Surname</label><br>
                <input type="text" name="surname" placeholder="Hanks">
            </div>

            <div class="mb-2">
                <label>Email</label><br>
                <input type="text" name="email" placeholder="tom@hanks.com">
            </div>

            <div class="mb-2">
                <label>University you are going to</label><br>
                <input type="text" name="going_to" placeholder="University of California">
            </div>
                
            <div>
                <label>Department</label><br>
                <input type="text" name="department" placeholder="Software Engineering">
            </div>

                <input type="submit">
        </form>
    </div>
    {%include "footer.html" %}
</body>

</html>