<div class="border-bottom row" style="margin-bottom: 16px;
padding-bottom: 8px;">
    <div class="col-9">
        <h4 style="color:rgb(120,120,120); margin-top: 4px;">{{student["name"]}} {{student["surname"]}}</h4>
        <div>
            <b>Going to:</b>{{student["going_to"]}}
        </div>
        {% if "department" in student %}
        <div>
            <b>Department:</b>{{student["department"]}}
        </div>
        {% endif %}
    </div>
    <div class="col-3 padding-right:16px">
        <a href="mailto:{{student['name']}}@erasmustalk.com" type="button" class="btn btn-primary">Contact</a>
        <a href ="/student/{{student['id']}}" type="button" class="btn btn-primary">Profile</a>
    </div>

</div>